h1 {
    font-family: tahoma;
    font-size: 100px
  }
  body {
    background-color: lightcyan;
    color: cornflowerblue;
    text-align: center;
    font-size: 30px;
  }
  
  a {
    color: rgb(67, 95, 174);
    text-align: center;
    font-size: 30px;
  }
  #unused {
    border: 3px solid cornflowerblue;
  }
  
  #listone {
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
    margin: 10px;
  }
  
  #listtwo {
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
    margin: 10px;
  }
  #beppy {
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
    margin: 10px;
  }

  #finder {
    background-color: cornflowerblue;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
    margin: 10px;
    z-index: 5;
    text-align: center;
  }

  /*.rounded{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .pointed{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
  }*/
